In [296]:
import  pandas as pd
import numpy as np

In [297]:
train_features = pd.read_csv('data/dengue_features_train.csv')
train_labels = pd.read_csv('data/dengue_labels_train.csv')

test_features = pd.read_csv('data/dengue_features_test.csv')

In [298]:
# Need to fill the missing field in test_feature
# missing fields will be filled from mean of the respected column as follows
for title in train_features:
    if not(title in ["city", "year", "weekofyear", "week_start_date"]):
        train_features[title].fillna(train_features[title].mean(), inplace=True)

In [299]:
train_features = train_features.dropna()
train_features.isnull().values.any()

False

In [300]:
train_labels.isnull().values.any()

False

In [301]:
# Need to fill the missing field in test_feature
# missing fields will be filled from mean of the respected column as follows
for title in test_features:
    if not(title in ["city", "year", "weekofyear", "week_start_date"]):
        test_features[title].fillna(test_features[title].mean(), inplace=True)

In [302]:
test_features.isnull().values.any()

False

In [303]:
training_data = pd.merge(train_labels, train_features, on=('year', 'city', 'weekofyear'))
training_data.shape

(1456, 25)

In [304]:
training_data.head()

,city,year,weekofyear,total_cases,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,4,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,5,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,4,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,3,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,6,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [305]:
test_features.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.01890,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.01800,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.00150,0.126803,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,0.12605,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.05680,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [306]:
# Now we have cleaned and good data set to process

In [307]:
training_features_sj = training_data[training_data.city == 'sj'].copy()
training_features_iq = training_data[training_data.city == "iq"].copy()

test_feature_sj = test_features[test_features.city == "sj"].copy()
test_feature_iq = test_features[test_features.city == "iq"].copy()

In [308]:
# Remove the obvious unuseful features
training_features_sj = training_features_sj[
    ['total_cases',
     'reanalysis_specific_humidity_g_per_kg',
     'reanalysis_dew_point_temp_k',
     'station_avg_temp_c',
     'station_min_temp_c',
     'reanalysis_min_air_temp_k',
     'station_max_temp_c']
]
training_features_iq = training_features_iq[
    ['total_cases',
     'reanalysis_specific_humidity_g_per_kg',
     'reanalysis_dew_point_temp_k',
     'station_avg_temp_c',
     'station_min_temp_c',
     'reanalysis_min_air_temp_k',
     'station_max_temp_c']
]

test_feature_sj = test_feature_sj[
    ['reanalysis_specific_humidity_g_per_kg',
     'reanalysis_dew_point_temp_k',
     'station_avg_temp_c',
     'station_min_temp_c',
     'reanalysis_min_air_temp_k',
     'station_max_temp_c']
]
test_feature_iq = test_feature_iq[
    ['reanalysis_specific_humidity_g_per_kg',
     'reanalysis_dew_point_temp_k',
     'station_avg_temp_c',
     'station_min_temp_c',
     'reanalysis_min_air_temp_k',
     'station_max_temp_c']
]

In [309]:
sj_train_subtrain = training_features_sj.head(800)
sj_train_subtest = training_features_sj.tail(sample_data_sj.shape[0] - 800)

iq_train_subtrain = training_features_iq.head(400)
iq_train_subtest = training_features_iq.tail(sample_data_iq.shape[0] - 400)

In [310]:
### Model generator
from statsmodels.tools import eval_measures
import statsmodels.formula.api as smf

from sklearn.cross_validation import train_test_split
import statsmodels.api as sm


from statsmodels.tools import eval_measures
import statsmodels.formula.api as smf

def get_best_model(train, test):
    # Step 1: specify the form of the model
    model_formula = "total_cases ~ 1 + " \
                    "reanalysis_specific_humidity_g_per_kg + " \
                    "reanalysis_dew_point_temp_k + " \
                    "reanalysis_min_air_temp_k + " \
                    "station_min_temp_c + " \
                    "station_max_temp_c + " \
                    "station_avg_temp_c"    
    
    grid = 10 ** np.arange(-8, -3, dtype=np.float64)
                    
    best_alpha = []
    best_score = 1000
        
    # Step 2: Find the best hyper parameter, alpha
    for alpha in grid:
        model = smf.glm(formula=model_formula,
                        data=train,
                        family=sm.families.NegativeBinomial(alpha=alpha))

        results = model.fit()
        predictions = results.predict(test).astype(int)
        score = eval_measures.meanabs(predictions, test.total_cases)

        if score < best_score:
            best_alpha = alpha
            best_score = score

    print('best alpha = ', best_alpha)
    print('best score = ', best_score)
            
    # Step 3: refit on entire dataset
    full_dataset = pd.concat([train, test])
    model = smf.glm(formula=model_formula,
                    data=full_dataset,
                    family=sm.families.NegativeBinomial(alpha=best_alpha))

    fitted_model = model.fit()
    return fitted_model
    
sj_best_model = get_best_model(sj_train_subtrain, sj_train_subtest)
iq_best_model = get_best_model(iq_train_subtrain, iq_train_subtest)

best alpha =  0.0001
best score =  28.3418308227
best alpha =  1e-08
best score =  4.04166666667

In [311]:
sj_predictions = sj_best_model.predict(test_feature_sj).astype(int)
iq_predictions = iq_best_model.predict(test_feature_iq).astype(int)
test_cases = np.concatenate([sj_predictions, iq_predictions])

In [312]:
submission = pd.read_csv("data/submission_format.csv")
submission.drop('total_cases', axis=1, inplace=True)

submission["total_cases"] = test_cases

submission.to_csv("output/submission.csv", index=False)